<div style='text-align:center'>
	<h1>Users Detail</h1>
</div>
<div class="container">
	<p><strong>Id:</strong>{{userDetail.id}}</p>
	<p><strong>Name:</strong>{{userDetail.name}}</p>
	<p><strong>Username:</strong>{{userDetail.username}}</p>
	<p><strong>Email:</strong>{{userDetail.email}}</p>
	<p><strong>Phone:</strong>{{userDetail.phone}}</p>
    <p><strong>Website:</strong>{{userDetail.website}}</p>
    <p><strong>Company:</strong>{{userDetail.company.name}}</p>
    <p><strong>Address:</strong>
    	{{userDetail.address.street}}<br/>
    	{{userDetail.address.suite}}<br/>
    	{{userDetail.address.city}}<br/>
    	{{userDetail.address.zipcode}}<br/>
	</p>

</div>