<div class="container">
	<form [formGroup] = "formdata" (ngSubmit)="onClickSubmit(formdata.value)">
		<div class="form-group">
			<label>Title:</label>
			<input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-valid': submitted && f.title.errors}"/>
			<div *ngIf="submitted && f.title.errors" class="invalid-form">
				<div *ngIf="f.title.errors.required">Title is required</div>
				<div *ngIf="f.title.errors">Title must be valid and less than 24 characters.</div>
			</div>
		</div>
		
		<div class="form-group">
			<label>Body:</label>
			<textarea formControlName="body" class="form-control" [ngClass]="{ 'is-valid': submitted && f.body.errors}"></textarea>
			<div *ngIf="submitted && f.body.errors" class="invalid-form">
				<div *ngIf="f.body.errors.required">Body is required</div>
				<div *ngIf="f.body.errors">Body must be valid and less than 50 characters.</div>
			</div>
		</div>
		
		<div class="form-group">
			<button type="submit" [disabled]="loading" class="btn btn-primary">Submit</button>
		</div>
	</form>
    <hr/>
	<div class="result">
		<p>
			{{result}}
		</p>
		<p>
			Status of the request: {{status}}
		</p>
	</div>

</div>

